<nav>
  <%= link_to '&#10084;'.html_safe, '#' %>
  <%= link_to 'comment', '#' %>
  <% if !photo.price.nil? %>
    <%= link_to '£', new_charge_path( photo_id: photo.id, price: photo.nice_price ) %>
  <%else%>
    <%= link_to 'Free', '#' %>
  <%end%>
  <%= link_to 'X', post_path(photo), method: :delete%>
</nav>
<%if photo.comments %>
  <% photo.comments.each do |comment|%>
  <artical><%= comment.comment %></artical>
  <caption><%= comment.created_at %> by <%= comment.handle %></caption>
  <%end%>
<%end%>