<nav>
  <%= link_to 'X', post_path(photo), method: :delete%>
  <%= link_to 'comment', '#' %>
  <%= link_to '£', new_charge_path %>
</nav>
<%if photo.comments %>
  <% photo.comments.each do |comment|%>
  <artical><%= comment.comment %></artical>
  <caption><%= comment.created_at %> by <%= comment.handle %></caption>
  <%end%>
<%end%>