<!DOCTYPE html>
<html>
<head>
  <title>TagBang</title>
  <link href='http://fonts.googleapis.com/css?family=Rouge+Script|PT+Sans' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%if current_user%>
    <%= render 'layouts/logout', current_user: current_user %>
  <%else%>
    <%= render 'layouts/login' %>
  <%end%>
</header>


<main>
  <section>
    <h3 class="notice"><%= notice %></h3>
    <h3 class="alert"><%= alert %></h3>
  <section>

  <%= yield %>
</main>

</body>
</html>
